/* ini css */

body{
    margin: 0;
    background: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;

}

.suhu-style{
    font-size: 20px;
}

.suhu-style-s{
    font-family: math;
    font-style: italic;

}

.padding-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-btn{
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.form-btn:hover {  
    background-color: rebeccapurple; /* Mengubah latar belakang saat hover */  
    transform: scale(1.05); /* Sedikit membesar saat hover */ 
}

.form-btn-konversi{
    background-color: green;
    color: white;
}

.form-btn-reset{
    background-color: red;
    color: white;
}

.form-btn-reverse{
    background-color: blue;
    color: white;
}

textarea{
    background-color: whitesmoke;
    width: 300px; /* Lebar textarea */
    height: 150px; /* Tinggi textarea */
    padding: 10px; /* Jarak dalam */
    border: 1px solid #ccc; /* Garis tepi */
    border-radius: 4px; /* Sudut melengkung */
    font-size: 16px; /* Ukuran font */
    resize: vertical; /* Hanya bisa diubah ukuran vertikal */
}

input{
    background-color: whitesmoke;
    width: 300px; /* Lebar textarea */
    padding: 10px; /* Jarak dalam */
    border: 1px solid #ccc; /* Garis tepi */
    border-radius: 4px; /* Sudut melengkung */
    font-size: 16px; /* Ukuran font */
    resize: vertical; /* Hanya bisa diubah ukuran vertikal */
}

input:hover, textarea:hover {  
    border-color: blue; /* Mengubah warna border saat hover */  
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Menambahkan bayangan */  
}

@media (max-width: 600px) {  
    .suhu-style {  
        font-size: 16px; /* Ukuran huruf lebih kecil untuk tampilan kecil */  
    }  

    .form-btn {  
        padding: 12px; /* Set padding yang lebih besar */  
        font-size: 14px; /* Ukuran tombol yang lebih sesuai */  
    }  

    input, textarea {  
        width: 90%; /* Memperlebar input di layar kecil */  
    }  
}